.larger {
  font-size: 200%;
}
.ion-card {
  font-size: 100%;
}
.bgcolor {
  background: blue;
}

ion-col {
  //border: 2px solid #aeb7ca;
  //border-radius: 5px;
  text-align: center;
}

button {
  color: floralwhite;
}

ion-item{
  --ion-item-background: var(--ion-color-primary);
}
