<ion-header>
  <app-top-header></app-top-header>
</ion-header>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/main">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Categorie: {{catTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-virtual-scroll [items]="articles" approxItemHeight="82px">
    <ion-item *virtualItem="let article" button>
      <ion-thumbnail>
        <ion-img
                src="http://127.0.0.1:4000/image/{{article.pictures[0]}}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2 class="my-label-title">{{article.title}}</h2>
        <p color="medium">{{article.description}}</p>
        <div class="span-container">
          <span class="price">{{article.price | currency}}</span>
          <span *ngIf="article.averageStar >= 1">
                      <ion-icon class="iconStar" name="star"></ion-icon>
                </span>
          <span *ngIf="article.averageStar >= 2">
                      <ion-icon class="iconStar" name="star"></ion-icon>
                </span>
          <span *ngIf="article.averageStar >= 3">
                      <ion-icon class="iconStar" name="star"></ion-icon>
                </span>
          <span *ngIf="article.averageStar >= 4">
                      <ion-icon class="iconStar" name="star"></ion-icon>
                </span>
          <span *ngIf="article.averageStar >= 5">
                      <ion-icon class="iconStar" name="star"></ion-icon>
                </span>
        </div>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
